.container{
    background-color: antiquewhite;
    padding: 2rem;
    border-radius: 0.5rem;
    color: black;
}

h1{
    font-weight: bold;
}


.increment{
    gap: 10;
    background-color: green;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem;
    margin-right: 1rem;
    width: 3rem;
}

.decrement{
    background-color: blue;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem;
    margin-right: 1rem;
    width: 3rem;
}

.reset{
    background-color: red;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem;
}

.buttonContainer{
    
}