.Container{
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 0.5rem;
    
}
h1{
    color: black;
}

.button{
    display: flex;
    gap: 1rem;
}

.Increment{
    background-color: green;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.Decrement{
    background-color: blue;
    color: black;
    padding: 4px;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.Reinitaliser{
    background-color: red;
    padding: 4px;
    color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 18px;
    color: white;
}